.search_wrappers {
    position: relative;
    width: 100%;
}

.search_input_field {
    width: 100%;
    padding-block: 15px;
    padding-right: 30px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #f0f0f1;
    font-family: "IranYekanXFaNum'";
}

.search_bar_icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    color: #999;
    right: 5px;
    transform: translateY(-50%);
}