.container {
    position: relative;
    cursor: pointer;
}

.container svg {
    color: var(--text-medium);
}

.loader:hover {
    background-color: var(--text-dark);
}

.loader:hover svg {
    color: var(--text-white);
}

.loader svg {
    color: rgba(255, 255, 255, 0.65);
    transform: scale(1.2);
    transition: 0.2s;
}

.point {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    background-color: var(--brand-red);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.point::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: var(--brand-red);
    border-radius: 25px;
    animation: loop 1s 0s infinite;
}

@keyframes loop {
    0% {
        background-color: var(--brand-red);
        width: 1px;
        height: 1px;
    }

    100% {
        background-color: rgba(19, 195, 156, 0);
        width: 30px;
        height: 30px;
    }
}