.cartSummary {
  background-color: var(--text-white);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
  transition: .3s;
  font-family: "IranYekanXFaNum";
}

.cartSummary h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: var(--text-dark);
  font-weight: 700;
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #F4F4F5;
}

.summaryRow:last-child {
  border-bottom: none;
}

.total {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 15px 0;
  color: var(--text-dark);
}

.checkoutBtn {
  width: 100%;
  padding: 15px;
  background: var(--gradient-dark);
  color: var(--text-white);
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin: 15px 0;
  transition: .3s;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
  position: relative;
  overflow: hidden;
}

.checkoutBtn:hover:not(:disabled) {
  background: linear-gradient(45deg, var(--color-dark-2), #3F3F46);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
}

.checkoutBtn:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .1), transparent);
  transition: .5s;
}

.checkoutBtn:hover:before {
  left: 100%;
}

.checkoutBtn:disabled {
  background-color: var(--text-light);
  cursor: not-allowed;
}

.secureText {
  text-align: center;
  color: var(--text-medium);
  font-size: 0.9rem;
  margin: 0;
}