.accordion_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    direction: ltr;
}

.accordion {
    width: 100%;
    padding: 8px;
    border: 1px solid #e0f2fe;
    border-radius: 6px;
    background: #f8fafc;
    transition: border-color 0.25s ease;
}

.accordion:hover {
    border-color: #bae6fd;
}

.accordion_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion_title {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
}

.accordion_icon {
    width: 20px;
    transition: transform 0.25s ease;
}

.rotate {
    transform: rotate(180deg);
}

/* Real smooth animation (using dynamic height) */
.accordion_content {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
            height 0.35s cubic-bezier(.4,0,.2,1),
            opacity 0.25s ease;
}

.open {
    opacity: 1;
}

.inner {
    padding-top: 6px;
    padding-bottom: 6px;
    transform: translateY(0);
}