.tabs_item {
    display: flex;
    align-items: center;
    gap: 0 5px;
    cursor: pointer;
    padding: 5px 0;
    transition: all 0.2s ease;
}

.icon_container {
    width: 30px;
}

.tabs_item:hover {
    border-bottom: 2px solid var(--primary);
}

.tabs_item span {
    font-size: 12px;
}

.nav_menu {
    width: max-content;
}

.nav__menu {
    font-weight: 300;
    color: var(--text-light);
}