.logo {
    display: flex;
    align-items: center;
    gap: 0 6px;
    font-family: "IranYekanXFaNum";
    font-weight: 900;
    font-size: 24px;
    color: var(--primary);
    transition: all 0.2s ease;
}