.product_wrapper {
    width: 100%;
    min-height: 100dvh;
    height: auto;
    overflow: hidden;
}

.product_main_content {
    padding: 1.5rem;
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
}

.product_first_main_content_child {
    width: 100%;
    grid-column: span 8 / span 8;
    grid-row: span 8 / span 8;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 6px;
}


.product_second_main_content_child {
    width: 100%;
    grid-column: span 4 / span 4;
    grid-row: span 8 / span 8;
    grid-column-start: 9;


}

.main_content_1 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    overflow: hidden;
}


.main_content_2 {
    overflow: hidden;
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 4;
}

.main_content_3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 5;
    overflow: hidden;
}

.main_content_4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
    overflow: hidden;
}

.content_image {
    width: 100%;
    height: 100%;
}

.content_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button_parent {
    width: 100%;
    padding: 8px;
    overflow: hidden;
}

.btn {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: linear-gradient(45deg, #18181B, #27272A);
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transition: .3s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1)
}

.btn:hover {
    background: linear-gradient(45deg, #27272A, #3F3F46);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15)
}

.btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .1), transparent);
    transition: .5s
}

.btn:hover:before {
    left: 100%
}

.icon {
    transition: transform .3s
}

.btn:hover .icon {
    transform: rotate(-10deg) scale(1.1)
}

.main_content_5 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 5;
    overflow: hidden;
}

.product_details {
    padding-block: 4px;
    padding-inline: 4px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    direction: ltr;
}

.product_details h2 {
    font-size: 10px;
    font-weight: 300;
}

.product_details h3 {
    text-transform: capitalize;
    font-weight: 500;
}

.product_details span {
    font-weight: 800;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
}

.product_details p {
    font-weight: 300;

}

.product_size {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.product_size span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-light);
    font-size: 12px;
    padding-inline: 12px;
    padding-block: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}


.move_setting {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 8px;
}

.move_setting span {
    font-size: 12px;
    direction: ltr;

}

.move_setting svg {
    width: 20px;
}

.related_products {
    padding-block: 4px;

}

.related_product {
    padding: 15px;
}

.card {
    width: 100%;
    margin: auto;
    background: #f7f7f7;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: rtl;
    gap: 20px;
}

.logoBox {
    min-width: 140px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}

.logo_container {
    font-size: 12px;
    opacity: .6;
    display: block;
}

.priceValue {
    font-size: 20px;
    font-weight: bold;
    margin-top: 6px;
}

.details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.topRow {
    display: flex;
    gap: 15px;
    font-size: 12px;
    opacity: 0.8;
}

.city svg, .guarantee svg {
    margin-left: 4px;
    width: 14px;
}

.sellerName {
    font-weight: 700;
    font-size: 18px;
}

.productTitle {
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.returnPolicyBtn {
    margin-top: 8px;
    padding: 10px;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid #ccc;
    transition: all 2s ease-in;
}

.returnPolicyBtn:hover {
    background: #ececec;
}


@media (max-width: 1024px) {
    .product_main_content {
        display: flex;
    }
}

/* Responsive */
@media (max-width: 768px) {
    .card {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .priceBox {
        width: 100%;
    }

    .productTitle {
        white-space: normal;
    }
}