.cardcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 30px;
  padding: 15px 15px;
  font-family: "Inter", sans-serif;
  place-items: CENTER;
  margin: 40px auto;
}

.book-card {
  border-radius: 20px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  position: relative;
  display: flex;
  direction: rtl;
  padding: 20px;
}
.book-card:hover {
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.18);
  transform: scale(1.021);
}
.card-img {
  /* width: 6rem; */
  height: 25vh;
  object-fit: cover;
  border-radius: 15px;
}

.card-content {
  padding: 18px;
  width: 100%;
}

.overlay:hover .card-img {
  transform: scale(1.06);
  border: 1px solid red;
}
.name {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 6px;
  font-family: IranYekanBold;
}
.book-auther {
  font-family: IranYekanMedium;
  background-color: #e3e3e3;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 25px;
  font-size: 14px;
}
.book-description {
  font-size: 14px;
  color: #2a2a2a;
  margin-bottom: 18px;
  font-family: IranYekanregular;
  display: block;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.2em;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: IranYekanMedium;
  font-size: 12px;
  color: #656565;
}

.follow-btn {
  background: #f2f2f7;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
}

.follow-btn:hover {
  background: #000000;
  color: white;
}
