@font-face {
    font-family: 'IranYekanXFaNum';
    src: url('fonts/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Light.woff2') format('woff2'),
        url('fonts/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Light.woff') format('woff'),
        url('fonts/Farsi numerals/IRANYekanXFaNum-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IranYekanXFaNum';
    src: url('fonts/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Regular.woff2') format('woff2'),
        url('fonts/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Regular.woff') format('woff'),
        url('fonts/Farsi numerals/IRANYekanXFaNum-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IranYekanXFaNum';
    src: url('fonts/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Bold.woff2') format('woff2'),
        url('fonts/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Bold.woff') format('woff'),
        url('fonts/Farsi numerals/IRANYekanXFaNum-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IranYekanXFaNum';
    src: url('fonts/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Black.woff2') format('woff2'),
        url('fonts/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Black.woff') format('woff'),
        url('fonts/Farsi numerals/IRANYekanXFaNum-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'IranYekanXFaNum';
    src: url('fonts/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-ExtraBlack.woff2') format('woff2'),
        url('fonts/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-ExtraBlack.woff') format('woff'),
        url('fonts/Farsi numerals/IRANYekanXFaNum-ExtraBlack.ttf') format('truetype');
    font-weight: 1000;
    font-style: normal;
}

@font-face {
    font-family: 'IranYekanX';
    src: url('fonts/Webfonts/woff2/IRANYekanX-Light.woff2') format('woff2'),
        url('fonts/Webfonts/woff/IRANYekanX-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IranYekanX';
    src: url('fonts/Webfonts/woff2/IRANYekanX-Regular.woff2') format('woff2'),
        url('fonts/Webfonts/woff/IRANYekanX-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IranYekanX';
    src: url('fonts/Webfonts/woff2/IRANYekanX-Bold.woff2') format('woff2'),
        url('fonts/Webfonts/woff/IRANYekanX-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IranYekanX';
    src: url('fonts/Webfonts/woff2/IRANYekanX-Black.woff2') format('woff2'),
        url('fonts/Webfonts/woff/IRANYekanX-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'IranYekanX';
    src: url('fonts/Webfonts/woff2/IRANYekanX-ExtraBlack.woff2') format('woff2'),
        url('fonts/Webfonts/woff/IRANYekanX-ExtraBlack.woff') format('woff');
    font-weight: 1000;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --color-dark-1: #18181B;
    --color-dark-2: #27272A;

    /* Gradient */
    --gradient-dark: linear-gradient(45deg, var(--color-dark-1), var(--color-dark-2));
    /* Brand */
    --brand-red: #EF394E;
    --brand-red-dark: #C72C3E;

    /* Primary */
    --primary: #ff2d55;
    --primary-dark: #C72C3E;
    --primary-light: #FF4F63;

    /* Secondary */
    --secondary-blue: #1C7FF2;
    --secondary-green: #13C39C;
    --secondary-yellow: #FFC540;
    --secondary-purple: #7A60FF;

    /* Text Colors */
    --text-black: #0A0A0A;
    --text-dark: #333333;
    --text-medium: #666666;
    --text-light: #999999;
    --text-white: #FFFFFF;

}

body {
    /*max-width: 1440px;*/
    margin: auto;
    font-family: "IranYekanXFaNum";
}